---
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import PostCard from "../../components/PostCard.astro";
import Footer from "../../components/Footer.astro";

const posts = (await getCollection("posts")).sort(function (first, second) {
	return second.data.publishedAt.getTime() - first.data.publishedAt.getTime();
});
---

<Layout title="All Posts">
	<main class="flex-1">
		<h1 class="mb-12 text-2xl font-semibold text-white">Posts</h1>

		<article class="gap-5 flex flex-col">
			{
				posts.map((post) => (
					<PostCard
						slug={post.slug}
						description={post.data.description}
						title={post.data.title}
						publishedAt={post.data.publishedAt}
					/>
				))
			}
		</article>
	</main>

	<Footer />
</Layout>
