---
import { getCollection } from "astro:content";
import { Image } from "astro:assets";
import Layout from "../layouts/Layout.astro";
import PostCard from "../components/PostCard.astro";
import ProjectCard from "../components/ProjectCard.astro";
import Link from "../components/Link.astro";
import convertAsteriskToStrongTag from "../utils/convertAsteriskToStrongTag";
import { content } from "../data/content";
import projects from "../data/projects";

const posts = (await getCollection("posts")).sort(function (first, second) {
	return second.data.publishedAt.getTime() - first.data.publishedAt.getTime();
});
---

<Layout>
	<main class="flex flex-col gap-20">
		<article
			class="flex flex-col gap-8 md:flex-row-reverse md:justify-end md:gap-12"
		>
			{
				content.profile && (
					<Image
						src={content.profile}
						class="w-1/4 self-center rounded-full"
						alt="Your Profile"
						width="200"
						height="200"
					/>
				)
			}

			<div>
				<h1 class="text-3xl font-semibold text-white mb-8">
					Hello there, my name is Brandon 👋
				</h1>

				<p class="w-auto max-w-[34rem] leading-6 text-neutral-200">
					I am Computer Science student studying at the University of Houston.
					Delving into the diverse applications of
					<span class="text-yellow-500 font-medium"
						>Full-Stack Development, Software Design, and Data Science</span
					>
					 .
				</p>
			</div>
		</article>

		<article class="flex flex-col gap-8">
			<header class="flex w-full flex-row items-center justify-between gap-2">
				<h1 class="text-2xl font-semibold text-white">Experience</h1>
			</header>

			<section class="border-l-2 border-yellow-600 pl-4">
				<div class="flex justify-between items-center mb-3 font-medium">
					<h3 class="text-neutral-100">
						CougarCS | Web Development Team Member
					</h3>
					<p>Fall 2022 - Present</p>
				</div>

				<p class="leading-6 text-neutral-300 text-sm">
					Currently developing internal member and event management web
					applications for the largest student-run organization at the
					University of Houston.
				</p>
			</section>
		</article>

		<article class="flex flex-col gap-8">
			<header class="flex w-full flex-row justify-between gap-2">
				<h1 class="text-2xl font-semibold text-white">Projects</h1>
			</header>

			<section class="flex flex-col gap-4">
				{
					projects.length !== 0 &&
						projects.map((project) => <ProjectCard {...project} />)
				}
			</section>
		</article>

		<article class="flex flex-col gap-8">
			<header class="flex w-full flex-row justify-between gap-2">
				<h3 class="text-lg text-neutral-100">Get in touch</h3>
			</header>
			<p>
				Email me at <Link
					href={`mailto:${content.mail}`}
					label={content.mail}
				/> or follow me via my social links.
			</p>
		</article>
	</main>
</Layout>
