---
import SocialLinks from "./SocialLinks.astro";
---

<footer class="flex
	items-center
	justify-between
	border-t
	border-t-neutral-200
	pt-8">
	<a href="/" class="fancyText text-neutral-100">Brandon Chung</a>

	<SocialLinks />
</footer>
