---
import SocialLinks from "./SocialLinks.astro";
---

<footer
	class="mt-20 flex items-center justify-between border-t border-t-neutral-100 pt-8"
>
	<a href="/" class="fancyText text-neutral-100">Brandon Chung</a>

	<SocialLinks />
</footer>
