---
import { removeTrailingSlash, isPathActive } from "../utils/formatPath";
import SocialLinks from "./SocialLinks.astro";

const pathname = removeTrailingSlash(Astro.url.pathname);
---

<header
	class="z-40 mb-[4.5rem] flex w-full flex-col gap-2 md:flex-row md:justify-between"
>
	<nav role="navigation" class="flex w-full items-center justify-between">
		<SocialLinks />

		<ul role="list" class="flex flex-row gap-2 text-base font-medium">
			<li>
				<a
					href="/"
					class:list={[
						"text-neutral-50 hover:text-yellow-500",
						{
							"text-yellow-500 border-b-2 border-b-yellow-500": isPathActive(
								pathname,
								"/"
							),
						},
					]}
					]}>Home</a
				>
			</li>
			<li>|</li>
			<li>
				<a
					href="/posts/1"
					class:list={[
						"text-neutral-50 hover:text-yellow-500",
						{
							"text-yellow-500 border-b-2 border-b-yellow-500": isPathActive(
								pathname,
								"/posts"
							),
						},
					]}
					]}
					>Posts
				</a>
			</li>
		</ul>
	</nav>
</header>
