<button
	id="scroll-top-button"
	class="flex items-center justify-center fixed bottom-8 right-6 md:right-12 stroke-indigo-500 h-14 w-14 bg-gray-700 bg-opacity-40 shadow-lg rounded-full p-3 hover:bg-gray-600 hover:bg-opacity-50 transition-colors"
	scroll-top-button
	aria-label="Scroll to top of screen"
>
	<svg
		xmlns="http://www.w3.org/2000/svg"
		fill="none"
		viewBox="0 0 24 24"
		stroke-width="3"
		class="w-7 h-7"
	>
		<path
			stroke-linecap="round"
			stroke-linejoin="round"
			d="m4.5 15.75 7.5-7.5 7.5 7.5"></path>
	</svg>
</button>

<script>
	const button = document.getElementById("scroll-top-button");

	if (button) {
		button.style.display = "none";

		window.onscroll = () => {
			if (
				document.body.scrollTop > 500 ||
				document.documentElement.scrollTop > 500
			) {
				button.style.display = "flex";
			} else {
				button.style.display = "none";
			}
		};

		button.addEventListener("click", () => {
			{
				if (!button) return;
			}

			window.scrollTo({ top: 0, behavior: "smooth" });
		});
	}
</script>
